<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="55">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap3.5.css" type="text/css">
    <script src="/static/js/jquery_min_1.11.3.js" type="TEXT/JAVASCRIPT"></script>
   <script src="/static/js/bootstrap_min_3.3.5.js" type="TEXT/JAVASCRIPT"></script>
    <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
     <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="/static/js/autosize.js" type="TEXT/JAVASCRIPT"></script>

</head>
<body  style="background-color:#F6F7F8;">
 {% block content %}
<div class="comment">

    {% for item in rs %}
    <div class="avatar col-sm-1" style="float: left;font-size: 16px; width: 10%;margin-top: 6px;margin-left: -5px;">
        <a href=""><span class="glyphicon glyphicon-user"></span></a>
    </div>

    <div id="user" style="float: left;margin-top: 0px;margin-left: -8px; width: 85%">
        <p style="font-size: 12px;">

            <a href="" style="color:#3B5998; font-size: 15px;">{{ commenter(item.user_id) }}</a>
            {{ item.comment }}
        </p>
        <h6 style="color: #808080; margin-left: 10px; margin-top: -10px;">{{ interval(time,item.date_time) }}</h6>
    </div>
        {% if item.user_id==session['auth'] %}
         <div class="dropdown" style="float: right;width: 5%;margin-top: -6px;">
              <a href="#" data-toggle="dropdown"><h6><i style="color: #0e0e0e;font-size: 10px;" class="glyphicon glyphicon-pencil"></i></h6></a>
              <ul class="dropdown-menu" style="margin-left: -150px;width: 20px;margin-top: -10px; ">
                  <li><a href="#" id="{{ item.user_id }}"><span class="glyphicon glyphicon-pencil"> edit</span></a></li>
                  <li><a href="{{ url_for('comment_delete',c_id = item.id, post_id=post_id ) }}"><span class="glyphicon glyphicon-trash"> delete</span></a> </li>
              </ul>
          </div>
        {% endif %}
     {% endfor %}
       <div class="add">
       <form action="{{ url_for('add_comment') }}" method="post" role="form" name="comment">
         <div class="avatar col-sm-1" style="float: left;font-size: 17px;">
          <a href=""><span class="glyphicon glyphicon-user"></span></a>
         </div>
           <input type="hidden" value="{{ post_id }}" name="p_id">
         <textarea id="body" class="form-control input-default" rows="1" placeholder="comment here.." name="body" style="width: 80%;"></textarea>

       </form>
       </div>

</div>
 <script type="text/javascript">
    $("#body").autosize();
    $("#body").keydown(function(event) {
        if (event.keyCode == 13) {
            $(this.form).submit()
        }
        return;
    });

</script>

{% endblock %}
</body>
</html>