<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        #like a:hover{color: #f89406;}
        #like a{color: #0C4B33;padding: 5px;}
    </style>
    <script language="javascript">
    function playIt()
     {
        document.getElementById("embed").innerHTML="<audio controls autoplay hidden><source src='/static/like.mp3' type='audio/mpeg'></audio>";
            return true;
     }
</script>
</head>
<body>

    <div id="like">
        {% if type=='unliked' %}
        <a href="{{ url_for('like_add',post_id=post_id) }}" onclick="playIt()"><i class="fa fa-heart-o">&nbsp;Like</i></a>
        {% endif %}
        {% if type=='like' %}
        <a href="{{ url_for('like_delete',post_id=post_id) }}"><i class="fa fa-heart">&nbsp;Like</i></a>
         {% endif %}
        &nbsp;<a href="#"><i class="fa fa-comments-o"> Comment</i></a>&nbsp;
        <a href="#"><i class="glyphicon glyphicon-share">Share</i></a><br>
       <div id="line" style="width: 100%; height: 1px; float:left;margin-left:-5px;background-color: #999999;"></div>

       {% for item in user %}
                  {% if item==c_i %}
                   you
                      {% if comma=='true' %},{% endif %}
                  {% endif %}
       {% endfor %}
       {% for item in user %}
                  {% if item!=c_i %}
                  <a href="#">{{ name(item) }}</a>
                      {% if comma=='true' %},{% endif %}
                  {% endif %}
       {% endfor %}
        {% if is_like=='true' %}like this{% endif %}

    </div>
<div id="embed"></div>

</body>
</html>