{% extends 'template.html' %}
{% block content %}
{% for message in get_flashed_messages() %}
<div class="alert alert-danger">
      <strong>Error!</strong>
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	      {{ message }}
</div>
{% endfor %}

<form class="form-horizontal" role="form" method="post">
<div cclass="form-group">
    <label class="col-sm-offset-1 col-sm-10"><h2 style="color: #00853E;font-weight: bolder;"><span class="glyphicon glyphicon-lock"></span> Member Login</h2></label>
</div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="username">Username:</label>
        <div class="col-sm-2">
          <input type="text" name="username" class="form-control input-sm" id="name" placeholder="Enter username" value="{{ request.form.username }}">
        </div>
        <label class="control-label col-sm-offset- col-sm-2" style="color: #ff0000; text-align: left;font-weight: normal;font-size: 12px;">{{ form.hidden_tag() }}
            {% for error in form.username.errors %}
             {{ error }}
            {% endfor %}
        </label>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="password">Password:</label>
        <div class="col-sm-2">
          <input type="password" name="password" class="form-control input-sm" id="pass" placeholder="Enter password">
        </div>
        <label class="control-label col-sm-offset- col-sm-2" style="color: #ff0000; text-align: left;font-weight: normal;font-size: 12px;">{{ form.hidden_tag() }}
            {% for error in form.password.errors %}
             {{ error }}
            {% endfor %}
        </label>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-3" style="text-align: right;">
          <div class="g-recaptcha" data-sitekey="6Ld90hMTAAAAAHMuWMHuxFV6OQJp224JtCgoXoyB"></div>
        </div>
    </div>
     <div class="form-group">
     <div class="col-sm-offset-2 col-sm-3">
      <div class="checkbox">
        <label><input type="checkbox" name="remember" value="1" checked> Remember me</label>
      </div>
     </div>
     </div>
     <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default" style="color: #00853E;font-weight: bolder;">Login</button>
      </div>
    </div>

</form>
    <div class="col-sm-offset-2 col-sm-10">
        <p style="text-align: left; margin-left:-20px;"><a href="#">forgot password?</a></p>
    </div>
    <div class="col-sm-offset-1 col-sm-10">
        <p>Not registered yet ? Now free <a href="/register">sign up</a> (be first)</p>
    </div>

{% endblock %}

