{% extends 'template.html' %}
{% block content %}

<div class="row" style="margin-top: 18px;">
     <div class="col-xs-9 col-sm-9 col-lg-9 col-md-9">
         <iframe style="width: 100%;height: 100%;" frameborder="0" src="{{ url_for('hello' ) }}"></iframe>
     </div>
    <!-- Add clearfix for only the required viewport -->
    <div class="col-xs-2 col-sm-2 col-lg-2 col-md-2">
        <h4>Dashboard</h4>
         <h5>comming soon....</h5>
     </div>

    <div class="col-xs-1 col-sm-1 col-lg-1 col-md-1">
    <div id="chat">
    <iframe frameborder="0" style="position: fixed;margin-top: -15px; height: 93%;border: 1px solid #b3b3b3;" src="{{ url_for('chat') }}"></iframe>
    </div>
    </div>
</div>

{% endblock %}
