{% extends 'template.html' %}
{% block content %}
{% for message in get_flashed_messages() %}
<div class="alert alert-danger" xmlns="http://www.w3.org/1999/html">
      <strong>Error!</strong>
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>

	      {{ message }}
</div>
{% endfor %}

<form class="form-horizontal" role="form" method="post">
<div cclass="form-group">
    <label class="col-sm-offset-1 col-sm-10"><h2 style="color: #00853E;font-weight: bolder;"><span class="glyphicon glyphicon-lock"></span> Sign UP</h2></label>
</div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="username">First name:</label>
        <div class="col-sm-2">
          <input type="text" name="fname" class="form-control input-sm" id="fname" placeholder="" value="{{ request.form.fname }}">
        </div>
        <label class="control-label col-sm-offset- col-sm-2" style="color: #ff0000; text-align: left;font-weight: normal;font-size: 12px;">{{ form.hidden_tag() }}
            {% for error in form.fname.errors %}
             {{ error }}
            {% endfor %}
        </label>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="lname">Last name:</label>
        <div class="col-sm-2">
          <input type="text" name="lname" class="form-control input-sm" id="lname" placeholder="" value="{{ request.form.lname }}">
        </div>
        <label class="control-label col-sm-offset- col-sm-2" style="color: #ff0000; text-align: left;font-weight: normal;font-size: 12px;">{{ form.hidden_tag() }}
            {% for error in form.lname.errors %}
             {{ error }}
            {% endfor %}
        </label>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="username">Username:</label>
        <div class="col-sm-2">
          <input type="text" name="uname" class="form-control input-sm" id="name" placeholder="Enter username" value="{{ request.form.uname }}">
        </div>
        <label class="control-label col-sm-offset- col-sm-2" style="color: #ff0000; text-align: left;font-weight: normal;font-size: 12px;">{{ form.hidden_tag() }}
            {% for error in form.uname.errors %}
             {{ error }}
            {% endfor %}
        </label>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="username">Email:</label>
        <div class="col-sm-2">
          <input type="email" name="email" class="form-control input-sm" id="name" placeholder="Enter username" value="{{ request.form.email }}">
        </div>
        <label class="control-label col-sm-offset- col-sm-2" style="color: #ff0000; text-align: left;font-weight: normal;font-size: 12px;">{{ form.hidden_tag() }}
            {% for error in form.email.errors %}
             {{ error }}
            {% endfor %}
        </label>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="password">Password:</label>
        <div class="col-sm-2">
          <input type="password" name="password" class="form-control input-sm" id="pass" placeholder="Enter password">
        </div>
        <label class="control-label col-sm-offset- col-sm-2" style="color: #ff0000; text-align: left;font-weight: normal;font-size: 12px;">{{ form.hidden_tag() }}
            {% for error in form.password.errors %}
             {{ error }}
            {% endfor %}
        </label>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="repassword">Re-type Password:</label>
        <div class="col-sm-2">
          <input type="password" name="repassword" class="form-control input-sm" id="repass" placeholder="re-type password">
        </div>
        <label class="control-label col-sm-offset- col-sm-2" style="color: #ff0000; text-align: left;font-weight: normal;font-size: 12px;">{{ form.hidden_tag() }}
            {% for error in form.repassword.errors %}
             {{ error }}
            {% endfor %}
        </label>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="address">Address:</label>
        <div class="col-sm-5">
             <textarea class="form-control input-sm" rows="3" id="address" name="address"></textarea>
        </div>
        <label class="control-label col-sm-offset- col-sm-2" style="color: #ff0000; text-align: left;font-weight: normal;font-size: 12px;">{{ form.hidden_tag() }}
            {% for error in form.address.errors %}
             {{ error }}
            {% endfor %}
        </label>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="sex">sex:</label>
        <div class="col-sm-4">
           <label class="radio-inline"><input type="radio"  name="gender" value="male" checked>male</label>
           <label class="radio-inline"><input type="radio" name="gender" value="female">female</label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="dob">Date of Birth:</label>
        <div class="col-sm-4">
            <select class="control-label" name='day'>
        <option>Day</option>
           <script>
            var i=1;
            while(i<=31){
            document.write("<option>"+i+"</option>"); i++;
              }
           </script>
       </select>
       <select class="control-label" name='mon'>
        <option>Mon</option>
           <script>
            var i=1;
            while(i<=12){
            document.write("<option>"+i+"</option>"); i++;
              }
           </script>


       </select>
       <select class="control-label" name='year'>
        <option>Year</option>
           <script>
            var i=2007;
            while(i>=1970){
            document.write("<option>"+i+"</option>"); i--;
              }
           </script>


       </select>
        </div>

    </div>
    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-3" style="text-align: right;">
          <div class="g-recaptcha" data-sitekey="6Ld90hMTAAAAAHMuWMHuxFV6OQJp224JtCgoXoyB"></div>
        </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" value="Register" class="btn btn-default" style="color: #00853E;font-weight: bolder;">
      </div>
    </div>
</form>

    <div class="col-sm-offset-1 col-sm-10">
        <p>Already have an Account? <a href="/log"> log in</a></p>
    </div>
{% endblock %}

