<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap3.5.css" type="text/css">
    <script src="/static/js/jquery_min_1.11.3.js" type="TEXT/JAVASCRIPT"></script>
    <script src="/static/js/bootstrap_min_3.3.5.js" type="TEXT/JAVASCRIPT"></script>
    <meta charset="UTF-8">
</head>
<body>
{% block content %}
 <div class = "names" style="float:left; background-color:red;">
    {% if empty == 'false' %}
   <h5 style="margin-top: 0px;width:auto;height:auto">
     with
     {% for item in tag_list %}
        <a href="#">
            {{ commenter(item) }},
        </a>
     {% endfor %}
      at tangail bnhg vghg vvbvgbg vbb v vbfbv vbfbf cv 
   </h5>
   {% endif %}
 </div>
 <div class="option" style='float:right;background-color:green;'>
    <h6><a href="#">+Tag</a></h6>
 </div>

{% endblock %}
</body>
</html>